# Ref: https://securitylab.github.com/research/github-actions-preventing-pwn-requests
name: Breakage

# read-only repo token
# no access to secrets
on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]

jobs:
  break-pkg:
    if: ${{ ! contains(github.event.pull_request.labels.*.name, 'run breakage applications') }}
    strategy:
      fail-fast: false
      matrix:
        pkgname: 
          - OptimalControlProblems
          - Tutorials
        pkgversion: 
          - latest
          - stable
        include:
          - pkgbreak: test
          - pkgbreak: doc
            pkgname: Tutorials
          - pkgpath: control-toolbox
    uses: control-toolbox/CTActions/.github/workflows/breakage.yml@main
    with:
      pkgname: ${{ matrix.pkgname }}
      pkgpath: ${{ matrix.pkgpath }}
      pkgversion: ${{ matrix.pkgversion }}
      pkgbreak: ${{ matrix.pkgbreak }}
      use_ct_registry: true
    secrets:
      SSH_KEY: ${{ secrets.SSH_KEY }}
  break-pkg-app:
    if: contains(github.event.pull_request.labels.*.name, 'run breakage applications')
    strategy:
      fail-fast: false
      matrix:
        pkgname: 
          - OptimalControlProblems
          - Tutorials
          - CalculusOfVariations
          - LossControl
          - GeometricPreconditioner
          - MedicalResonanceImaging
          - Kepler
          - PWLdynamics
          - SIRcontrol
        pkgversion: 
          - latest
          - stable
        include:
          - pkgbreak: doc
          - pkgbreak: test
            pkgname: OptimalControlProblems
          - pkgpath: control-toolbox
          - pkgpath: agustinyabo
            pkgname: PWLdynamics
          - pkgpath: AnasXbouali
            pkgname: SIRcontrol
    uses: control-toolbox/CTActions/.github/workflows/breakage.yml@main
    with:
      pkgname: ${{ matrix.pkgname }}
      pkgpath: ${{ matrix.pkgpath }}
      pkgversion: ${{ matrix.pkgversion }}
      pkgbreak: ${{ matrix.pkgbreak }}
      use_ct_registry: true
    secrets:
      SSH_KEY: ${{ secrets.SSH_KEY }}
