# [.github/workflows/CI.yml]
name: CI
on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
jobs:
  call:
    strategy:
      matrix:
        version:
          - '1.10'
          - '1.11'
          - '1.12'
        os:
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
    uses: control-toolbox/CTActions/.github/workflows/ci.yml@main
    with:
      version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
